@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* https://github.com/PaperMC/docs/blob/9ea4338f089fddce0e38e7e130a869c7066c9b14/src/styles/custom.css#L55-L60 */
/* fix too large TOC on large screens */
@media (min-width: 96rem) {
    :root {
        --sl-content-width: 64rem;
    }
}

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #bac4ff;
    --color-accent-600: #4519e8;
    --color-accent-900: #262374;
    --color-accent-950: #1b1c4e;
    /* Generated gray color palettes. */
    --color-gray-100: #f6f6f6;
    --color-gray-200: #eeeeee;
    --color-gray-300: #c2c2c2;
    --color-gray-400: #8b8b8b;
    --color-gray-500: #585858;
    --color-gray-600: color-mix(in hsl, var(--color-gray-500), var(--color-gray-700));
    --color-gray-700: #383838;
    --color-gray-800: #272727;
    --color-gray-900: #181818;
}
